@model GestaoEmpresa.DominioViewModel.FuncionarioViewModel.FuncionarioVMVal

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdEndereco" />

            <div class="form-group">
                <label asp-for="IdEmpresa" class="control-label"></label>
                <select asp-for="IdEmpresa" asp-items="@ViewBag.Empresas" class="form-control"></select>
                <span asp-validation-for="IdEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pis" class="control-label"></label>
                <input asp-for="Pis" class="form-control" />
                <span asp-validation-for="Pis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcao" class="control-label"></label>
                <input asp-for="Funcao" class="form-control" />
                <span asp-validation-for="Funcao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <h4>Jornada de Trabalho</h4>
    <hr />
    <p>
        <a asp-action="CreateJornada" asp-route-IdFuncionario="@Model.Id">Cadastrar Jornada</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Dias")
                </th>
                <th>
                    @Html.DisplayName("Horas")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Jornadas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PeriodoDia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PeriodoHora)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteJornada", new { pId = item.Id, IdFuncionario = Model.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        //Adiciona mensagens de alerta
        await Html.RenderPartialAsync("_Alerta");
    }
}


